body {
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

#app{
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
}


.header {
  background-color:#064355;
  width: 100%;
  height: 107px;
  background-image: url(./../images/logo.svg);
  background-repeat:no-repeat;
  background-position: center;
}
.list-users {
  margin: 0 auto;
  padding-top: 20px;
  text-align: center;
  max-width: 1000px;
}

.item-user {
  display: inline-flex;
  vertical-align: top;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  text-align: left;
  padding: 10px 10px 10px 20px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 15px;
  line-height: 15px;
}
.item-user .text-name{
  color: #6e6e6e;
  min-width: 70px;
}
.item-user .text-value {
  flex: 1 0 auto;
  padding-right: 20px;
}

.item-user .input-edit{
  border: 1px solid #aaa;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  padding: 5px 3px;
  width: 100%;
  text-indent: 5px;
}

.pt-1 {
  padding-top: 3px;
}
.pl-1 {
  padding-left: 3px;
}
.pr-1 {
  padding-right: 3px;
}

.pl-2 {
  padding-left: 7px;
}
.pr-2 {
  padding-right: 7px;
}

.pt-2 {
  padding-top: 7px;
}

.pt-4 {
  padding-top: 20px;
}


.user-info {
  width: 300px;
  padding-left: 20px;
}
.cont-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  width: 100px;
}

.cont-image .item-img{
  width: 30%;
}
.cont-image .item-img img{
  max-width: 100%;
  margin: 0 auto;
  display: block;
}
.cont-image .item-img:first-child {
  width: 100%;
  margin-bottom: 8px;
}
.pagination {
  display: inline-flex;
  margin: 0 auto;
  color: #989495;
}
.pagination-item {
  cursor: pointer;
}
.pagination > div{
  border: 1px solid #dcdcdc;
  background-color: #ffffff;
  margin-left: -1px;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.08s ;
  -webkit-transition: all 0.08s ;
  -moz-transition: all 0.08s ;
  -ms-transition: all 0.08s ;
  -o-transition: all 0.08s ;
}
.pagination > div.disabled{
  pointer-events: none;
  color: #d8d8d8;
}
.pagination > div.active,
.pagination > div:hover{
  background: #bdbdbd;
  color: #ffffff;
  font-weight: bold;
}
.pagination > div.active,
.pagination > div.ellipsis {
  pointer-events: none
}
.pagination > div:first-child {
  border-radius: 3px 0 0 3px;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  -ms-border-radius: 3px 0 0 3px;
  -o-border-radius: 3px 0 0 3px;
}
.pagination > div:last-child {
  border-radius: 0px 3px 3px 0px;
  -webkit-border-radius: 0px 3px 3px 0px;
  -moz-border-radius: 0px 3px 3px 0px;
  -ms-border-radius: 0px 3px 3px 0px;
  -o-border-radius: 0px 3px 3px 0px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.d-none{
  display: none;
}
.text-center {
  text-align: center
}


.btn-edit-user .btn {
  width: 25px;
  height: 25px;
  color: #fff;
  border-radius: 3px;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  cursor: pointer;
  margin-bottom: 5px;
  position: relative;
}
.btn-edit-user .btn i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.btn-edit-user .btn.btn-save {
  color: #28a745;
  border: 1px solid #28a745;
}
.btn-edit-user .btn.btn-save:hover {
  color: #fff;
  background-color: #28a745;
}
.btn-edit-user .btn.btn-cancel {
  color: #dc3545;
  border: 1px solid #dc3545;
}
.btn-edit-user .btn.btn-cancel:hover {
  color: #fff;
  background-color: #dc3545;
}
.btn-edit-user .btn.btn-edit {
  color: #ffc107;
  border: 1px solid #ffc107;
}
.btn-edit-user .btn.btn-edit:hover {
  color: #fff;
  background-color: #ffc107;
}

.btn-global-save {
  background-color: #28a745;
  border: 1px solid #28a745;
  color: #ffffff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin-top: 20px;
  padding: 7px 15px;
  font-size: 16px;
  text-transform: uppercase;
}
.btn-global-save:hover {
  background-color:#218838;
  cursor: pointer;
}
button:focus {outline:0;}

.d-flex {
  display: flex
}
.get-users--error {
  max-width: 600px;
  margin: 0 auto;
}
.alert {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}
.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
.cont-load-fetch {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  background-color: rgba(0,0,0,0.5);
  transition: opacity 0.2s ease 0.3s;
  -webkit-transition: opacity 0.2s ease 0.3s;
  -moz-transition: opacity 0.2s ease 0.3s;
  -ms-transition: opacity 0.2s ease 0.3s;
  -o-transition: opacity 0.2s ease 0.3s;
}
.cont-load-fetch.show {
  opacity: 1;
}


.load-fetch {  
  width: 100%;
  height: 10px;
  /* margin: 0 auto 20px; */
  background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
  background-color: #064355!important;
  background-size: 1rem 1rem;
  border-radius:3px;
  -webkit-animation: progress-bar-stripes 1s linear infinite;
  animation: progress-bar-stripes 1s linear infinite;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  -ms-border-radius:3px;
  -o-border-radius:3px;
}

@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 1rem 0;
  }
  to {
    background-position: 0 0;
  }
}

@keyframes progress-bar-stripes {
  from {
    background-position: 1rem 0;
  }
  to {
    background-position: 0 0;
  }
}
.message-update-user {
  position: fixed;
  right: 10px;
  bottom: -110%;
  transition: bottom 0.3s;
  -webkit-transition: bottom 0.3s;
  -moz-transition: bottom 0.3s;
  -ms-transition: bottom 0.3s;
  -o-transition: bottom 0.3s;
  min-height: 100px;
  min-width: 200px;
  padding: 10px 20px;
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.message-update-user.error{
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
.message-update-user.show {
  bottom: 10px;
}
.message-update-user .close{
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}