<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="description" content="">
    <meta name="viewport" content="width=device-width">
		<link rel="stylesheet" href="./css/fontawesome.css">
		<!-- <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> -->
		<link type="text/css" rel="stylesheet" href="./css/main.css">
			
		<script src="./js/vue.js"></script>
		<script src="./js/vuex.js"></script>
		<!-- <script src="//unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script> -->

	</head>
	<body>
	<div class="header"></div>
	<div id="app" v-cloak>
		
		<div class="d-none">
			<div v-if="loadInfo"> 
				Загружается
			</div>
			<div v-else> 
				Готово
			</div>
		</div>
		<div class="cont-load-fetch" v-bind:class="{ show: loadedResult || loadedPostResult }" >
			<div class="load-fetch" ></div>
		</div>
		<div v-if="errorGetUsers" class="alert alert-danger get-users--error">
			{{errorGetUsers}}
		</div>
		<div class="text-center" v-if="!errorGetUsers">
		<!-- <div class="text-center"> -->
			<paginate 
				v-bind:item="itemPageUser"
				v-bind:click-handler="clickNewPage"
				v-bind:max-page-user="maxPageUser"
				></paginate>
			
		</div>
    <div class="list-users">
      <div v-for="(user, index) in viewUser" :key="index" class="item-user">
 
        <div class="cont-image ">
          <div v-for="img in user.img" class="item-img">
            <img :src="img" v-on:error="errorImage($event)"  />
          </div>
        </div>
        <div class="user-info">
          <div class="d-flex pt-2">
            <div class=" pr-2 text-name">ID:</div>
            <div class=" text-value">
              {{ user.id }}
            </div>
          </div>
          <div class="d-flex pt-1">
						<div class="pt-2 pr-2 text-name">Name:</div>
						<div class="text-value">
							<div class="pt-2" v-if="!user.edit">
								{{ user.name }}
							</div>
							<div v-else>
								<input class="input-edit" type="text" :value="user.name" :id="'user_name_'+user.id">
							</div>
						</div>
					</div>
					<div class="d-flex pt-2" >
						<div class="pt-1 pr-2 text-name">Collapse <br> to id:</div>
						<div class="text-value">
							<div class="pt-2" v-if="!user.edit">
								{{ user.collapse_to_id }}
							</div>
							<div v-else>
								<input class="input-edit" type="number" step="1" :value="user.collapse_to_id" :id="'user_collapse_'+user.id">
							</div>
						</div>
					</div>
					<div class="d-flex pt-2" v-if="user.last_visit">
						<div class="pt-1 pr-2 text-name">Last visit:</div>
						<div class="text-value pt-1">
							{{user.last_visit.d}}.{{user.last_visit.m}}.{{user.last_visit.y}} {{user.last_visit.h}}:{{user.last_visit.min}} 
						</div>
					</div>
					<div class="d-flex pt-2" v-if="user.gender">
						<div class="pt-1 pr-2 text-name">Gender:</div>
						<div class="text-value pt-1">
							{{user.gender}} 
						</div>
					</div>
					<div class="d-flex pt-2" v-if="user.ages">
							<div class="pt-1 pr-2 text-name">Ages:</div>
							<div class="text-value pt-1">
								<div v-for="age in user.ages">{{age[0] + '-'+ age[1]}}</div>
								
							</div>
						</div>
				</div>
				<div class="btn-edit-user">
					<div v-if="user.edit">
						<div class="btn btn-save" @click="saveEditUser(index)"><i class="fas fa-check"></i></div>
						<div class="btn btn-cancel" @click="isEditUser(index, false)"><i class="fas fa-ban"></i></div>
					</div>
					<div class="btn btn-edit" v-else v-on:click="isEditUser(index, true)"> 
						<i class="fas fa-pencil-alt"></i>
					</div>
				</div>
        
      </div>
		</div>
		<div class="text-center" v-if="!errorGetUsers">
			<paginate 
				v-bind:item="itemPageUser"
				v-bind:click-handler="clickNewPage"
				v-bind:max-page-user="maxPageUser"
				></paginate>
		</div>

		<div class="message-update-user" v-bind:class="{ show: showMessagePost, error: !messagePost && showMessagePost }">
			<div class="close" @click="hideMessagePostUpdateUser()"><i class="fas fa-times-circle"></i></div>
			{{ messagePost == true ? 'OK' : messagePost }}
		</div>
		

	</div>
	<script src="./js/vue_pagination.js"></script>
	<script src="./js/vue_users.js"></script>
	</body>
</html>