<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="./css/main.css">

	</head>
	<body>
	<div class="header"></div>
	<div id="app" v-cloak>
		
		<div class="d-none">
			<div v-if="loadInfo"> 
				Загружается
			</div>
			<div v-else> 
				Готово
			</div>
		</div>
    <div class="list-users">
      <div v-for="(user, index) in viewUser" :key="index" class="item-user">
 
        <div class="cont-image ">
          <div v-for="img in user.img" class="item-img">
            <img :src="img" v-on:error="errorImage($event)"  />
          </div>
        </div>
        <div class="user-info">
          <div>
            <div>ID:</div>
            <div v-if="!user.edit">
              {{ user.id }}
            </div>
            <div v-else>
              <input type="text" :value="user.id" :id="'user_id_'+user.id">
            </div>
          </div>
          <div>
            <div>Name:</div>
            <div v-if="!user.edit">
              {{ user.name }}
            </div>
            <div v-else>
              <input type="text" :value="user.name" :id="'user_name_'+user.id">
            </div>
          </div>
				</div>
				<div class="btn-edit-user">
					<div v-if="user.edit">
						<div class="btn btn-save" @click="saveEditUser(index)"><i class="fas fa-check"></i></div>
						<div class="btn btn-cancel" @click="isEditUser(index, false)"><i class="fas fa-ban"></i></div>
					</div>
					<div class="btn btn-edit" v-else v-on:click="isEditUser(index, true)"> 
						<i class="fas fa-pencil-alt"></i>
					</div>
				</div>
        
      </div>
		</div>
		<div class="text-center">
			<div class="pagination"> 
				<div @click="prevList()" v-if="itemPageUser > 0" class="pagination-prev"><i class="fas fa-angle-left"></i> </div>
				<div v-if="itemPageUser > 0" class="pagination-item" @click="itemList(itemPageUser-1)">{{itemPageUser}}</div>
				<div class="pagination-item active">{{itemPageUser+1}}</div>
				<div class="pagination-item " v-if="itemPageUser+1 < maxPageUser"  @click="itemList(itemPageUser+1)">{{itemPageUser+2}}</div>
				<div @click="nextList()" class="pagination-next" v-if="itemPageUser+1 < maxPageUser" ><i class="fas fa-angle-right"></i></div>
			</div>
		</div>
		<div>
			<button @click="postUpdateUser()">Save</button>
		</div>
		

	</div>
	
	<script src="https://unpkg.com/vue"></script>
	<script src="https://unpkg.com/vuex"></script>
	<script src="//unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
	<script src="./js/vue_users.js"></script>
	</body>
</html>